* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

/* APP CONTAINER */

.app {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

/* TITLE */

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
  color: #111827;
}

/* FORM */

.form-barang {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.form-barang input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.form-barang input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.15);
}

/* BUTTON TAMBAH */

.form-barang button {
  background: #6366f1;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.form-barang button:hover {
  background: #4f46e5;
}

/* LIST */

.inventory-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

/* ITEM */

.inventory-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 12px 14px;
  border-radius: 8px;
  transition: 0.2s;
}

.inventory-list li:hover {
  background: #cdd0d4;
}

/* TEXT */

.inventory-list span {
  font-size: 14px;
  color: #374151;
}

/* STOK HABIS */

.stok-habis {
  color: #ff0808;
  font-weight: 600;
}

/* BUTTON DELETE */

.btn-Hapus,
.btn-Ubah {
  background: #ef4444;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-Ubah {
  background: #54c229;
}

.btn-Ubah:hover {
  background: #47a522;
}

.btn-Hapus:hover {
  background: #dc2626;
}

/* RESPONSIVE */

@media (max-width: 500px) {
  .app {
    padding: 20px;
  }

  h1 {
    font-size: 22px;
  }

  .form-barang {
    flex-direction: column;
  }

  .form-barang button {
    width: 100%;
  }

  .inventory-list {
    width: 90%;
    /* flex-direction: row;
    justify-content: space-between;
    align-items: center; */
  }

  .inventory-list li {
    /* flex-direction: column; */
    /* align-items: flex-start; */
    gap: 8px;
  }

  .btn-Hapus {
    align-self: flex-end;
  }
}
